@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

* {
  font-family: "Luxurious Roman", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url("./images/background.jpg");
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 5%;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.background > * {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
}

/* ============Scrollbar=============== */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ad977d;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

/* ============General Components=============== */

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.col {
  flex-direction: column;
}

.hide {
  display: none;
}

.grid {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  column-gap: 50px;
  justify-items: center;
  align-items: center;
}

/* ============Layout=============== */

#layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#info {
  background-image: url("./images/info5.png");
  background-size: 100% 100%;
  width: 30%;
  height: 700px;
  /* background: #00000059; */
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 8% 5%;
}

#seccondaryLayout {
  width: 30%;
  height: 700px;
}

#gameLogArea {
  width: 100%;
  height: 200px;
  background: #00000059;
  border-radius: 5%;
  border: 1px solid black;
  padding: 5%;
}

#gameLog {
  width: 100%;
  height: 100px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  color: #f4f8ff;
  font-family: "Luxurious Roman", serif;
}

/* ============Displays=============== */

.message {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  color: #f4f8ff;
  font-family: "Luxurious Roman", serif;
  font-size: 22px;
}

#inBag {
  width: 100%;
  padding: 0 10%;
  margin-top: 15px;
  color: white;
  text-align: end;
}

/* ============Board=============== */

#board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./images/map.jpg");
  background-size: cover;
  width: 400px;
  height: 540px;
  display: grid;
}

/* ============Borad Tokens=============== */
.p-1 {
  background-color: #e32f2f;
}

.p-2 {
  background-color: #2776e7;
}

.controlMarksCounter {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/banner.png");
}

.bonusToken {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #f7f095;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.bonus-1 {
  background-image: url("./images/scroll.png");
}
.bonus-2 {
  background-image: url("./images/pot.png");
}
.bonus-3 {
  background-image: url("./images/spear.png");
}
.bonus-4 {
  background-image: url("./images/senate.png");
}

.influenceToken {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  font-size: 10px;
  text-align: center;
}

.influenceToken p:last-child {
  transform: rotate(180deg);
  border-bottom: 1px solid black;
}

.controlToken {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/banner.png");
}

.senateTokens {
  position: absolute;
  width: 31px;
  height: 31px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  background-size: 70%;
  transform: rotate(90deg);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/senate.png");
}

.senateTokens.p-2 {
  transform: rotate(270deg);
}

.red-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none; /* Prevent the dot from blocking future clicks */
}

/* ============Player Pieces=============== */

.playerPieces {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #e32f2f;
  box-shadow: inset -7px -10px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-family: emoji;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.playerPieces p:last-child {
  transform: rotate(180deg);
}

.playerPieces:hover {
  transform: scale(1.1);
  background-color: #fb2e2e;
}

.selected {
  transform: scale(1.1);
  background-color: #fb2e2e;
}

.selected::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "🔺";
  transform: translate(50%, -50%);
  filter: brightness(2);
}

.direction::after {
  transform: rotate(180deg) translate(-50%, -300%);
}

.playerPiecesImage {
  width: 25px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
